<div class="row">
	<div class="col-sm-10">
		<h1><%= @picture.title %></h1>
		<%= image_tag(@picture.image.url(:big)) %>
		<% unless @average_rating.nil? %>
			Average rating: <%= @average_rating.round(1) %>
		<% else %>
			Average rating: 0
		<% end %>

	</div>
</div>
<hr>
<%= render 'shared/comment' %>
